.sectionTwoTrending {  
  color: white;  
  align-items: center;
  margin-top: 30px;
}

.trendingBoxContainer {
    display: flex;
    gap: 30px;
    margin-top: 20px;  
    margin-left: 160px;  
  }
  
  .trendingBox {
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .trendingBox > span {
    margin-left: 15px;
  }