* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}




.sectionTwoTrending {  
  color: white;
  margin-left: 160px;  
  margin-top: 30px;
}

.trendingBoxContainer {
  display: flex;
  gap: 30px;
  margin-top: 20px;  
}

.trendingBox {
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
}

.trendingBox > span {
  margin-left: 15px;
}



.sectionTwoCards {
  background-color: black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cardImage {
  width: 230px;
}